* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: white;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.modal-conatiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px 30px;
    width: 1300px;
}



.modal {
    background-color: red;
    border: 1px solid black;
}